USE [SaigonDeliveryDB]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/30/2026 6:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[ShipperId] [uniqueidentifier] NULL,
	[ReceiverName] [nvarchar](100) NOT NULL,
	[ReceiverPhone] [nvarchar](20) NOT NULL,
	[DeliveryAddress] [nvarchar](255) NOT NULL,
	[Distance] [decimal](6, 2) NOT NULL,
	[ShipFee] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PickupAddress] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipperRatings]    Script Date: 9/30/2026 6:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipperRatings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[ShipperId] [uniqueidentifier] NOT NULL,
	[Stars] [tinyint] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/30/2026 6:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CustomerId], [ShipperId], [ReceiverName], [ReceiverPhone], [DeliveryAddress], [Distance], [ShipFee], [Status], [CreatedAt], [PickupAddress]) VALUES (1, N'00000065-2222-2222-2222-222222222222', NULL, N'Võ Văn Tú', N'0936402373', N'50 Võ Văn Ngân, TP. Thủ Đức', CAST(4.50 AS Decimal(6, 2)), CAST(25000.00 AS Decimal(10, 2)), N'Pending', CAST(N'2026-06-06T03:06:35.0000000' AS DateTime2), N'12 Lê Lợi, Quận 1')
INSERT [dbo].[Orders] ([Id], [CustomerId], [ShipperId], [ReceiverName], [ReceiverPhone], [DeliveryAddress], [Distance], [ShipFee], [Status], [CreatedAt], [PickupAddress]) VALUES (2, N'00000094-2222-2222-2222-222222222222', N'00000018-1111-1111-1111-111111111111', N'Huỳnh Văn Dũng', N'0388470425', N'110 Phạm Văn Hai, Tân Bình', CAST(3.40 AS Decimal(6, 2)), CAST(20000.00 AS Decimal(10, 2)), N'Shipping', CAST(N'2026-06-27T10:00:43.0000000' AS DateTime2), N'86 Tô Hiến Thành, Quận 10')
INSERT [dbo].[Orders] ([Id], [CustomerId], [ShipperId], [ReceiverName], [ReceiverPhone], [DeliveryAddress], [Distance], [ShipFee], [Status], [CreatedAt], [PickupAddress]) VALUES (3, N'00000057-2222-2222-2222-222222222222', N'00000013-1111-1111-1111-111111111111', N'Hồ Thị Thảo', N'0382558373', N'18 Quang Trung, Gò Vấp', CAST(12.00 AS Decimal(6, 2)), CAST(65000.00 AS Decimal(10, 2)), N'Completed', CAST(N'2026-06-04T02:10:19.0000000' AS DateTime2), N'20 Sư Vạn Hạnh, Quận 10')
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipperRatings] ON 

INSERT [dbo].[ShipperRatings] ([Id], [OrderId], [CustomerId], [ShipperId], [Stars], [Comment], [CreatedAt]) VALUES (1, 431, N'00000051-2222-2222-2222-222222222222', N'00000017-1111-1111-1111-111111111111', 2, N'Giao hàng chậm hơn dự kiến.', CAST(N'2026-07-21T17:45:43.0000000' AS DateTime2))
INSERT [dbo].[ShipperRatings] ([Id], [OrderId], [CustomerId], [ShipperId], [Stars], [Comment], [CreatedAt]) VALUES (2, 146, N'00000059-2222-2222-2222-222222222222', N'00000019-1111-1111-1111-111111111111', 5, N'Dịch vụ tuyệt vời, đóng gói cẩn thận.', CAST(N'2026-06-30T19:05:03.0000000' AS DateTime2))
INSERT [dbo].[ShipperRatings] ([Id], [OrderId], [CustomerId], [ShipperId], [Stars], [Comment], [CreatedAt]) VALUES (3, 532, N'00000083-2222-2222-2222-222222222222', N'00000011-1111-1111-1111-111111111111', 5, N'Dịch vụ tuyệt vời, đóng gói cẩn thận.', CAST(N'2026-07-09T03:43:53.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ShipperRatings] OFF
GO
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Phone], [Role], [CreatedAt]) VALUES (N'aaaaaaaa-0000-0000-0000-000000000000', N'admin@saigondelivery.vn', N'e86f78a8a3caf0b60d8e74e5942aa6d86dc150cd3c03338aef25b7d2d7e3acc7', N'Nguyễn Minh Quân', N'0901234567', N'Admin', CAST(N'2026-08-25T07:05:44.0515520' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Phone], [Role], [CreatedAt]) VALUES (N'00000001-1111-1111-1111-111111111111', N'levanmysp1@gmail.com', N'abf39e9fd6b86622263913dd7d527eee259e7239af61b2c9ed2e48fe0c46b6d4', N'Phạm Văn Thắng', N'0782483079', N'Shipper', CAST(N'2026-08-25T07:05:44.0704605' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Phone], [Role], [CreatedAt]) VALUES (N'00000002-1111-1111-1111-111111111111', N'dovanhieusp2@gmail.com', N'abf39e9fd6b86622263913dd7d527eee259e7239af61b2c9ed2e48fe0c46b6d4', N'Võ Văn Đức', N'0917395110', N'Shipper', CAST(N'2026-08-25T07:05:44.0704605' AS DateTime2))
GO
/****** Object:  Index [UQ__ShipperR__C3905BCE7E922838]    Script Date: 9/30/2026 6:57:37 PM ******/
ALTER TABLE [dbo].[ShipperRatings] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105343EC8D706]    Script Date: 9/30/2026 6:57:37 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Không rõ') FOR [PickupAddress]
GO
ALTER TABLE [dbo].[ShipperRatings] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Shipper] FOREIGN KEY([ShipperId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Shipper]
GO
ALTER TABLE [dbo].[ShipperRatings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ShipperRatings] CHECK CONSTRAINT [FK_Ratings_Customer]
GO
ALTER TABLE [dbo].[ShipperRatings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[ShipperRatings] CHECK CONSTRAINT [FK_Ratings_Order]
GO
ALTER TABLE [dbo].[ShipperRatings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Shipper] FOREIGN KEY([ShipperId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ShipperRatings] CHECK CONSTRAINT [FK_Ratings_Shipper]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Completed' OR [Status]='Shipping' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[ShipperRatings]  WITH CHECK ADD CHECK  (([Stars]>=(1) AND [Stars]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Shipper' OR [Role]='Customer' OR [Role]='Admin'))
GO
